# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environment folders
env/
venv/

# Ignore configuration files
config.py

# Ignore History data csv
ADAUSDT_historical.csv
BNBUSDT_historical.csv
BTCUSDT_historical.csv
DOGEUSDT_historical.csv
ETHUSDT_historical.csv
SOLUSDT_historical.csv
XRPUSDT_historical.csv
