# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environment folders
env/
venv/

# Ignore configuration files
config.py

# Ignore History data csv
BNBUSDT_historical.csv
btc_usdt_historical.csv
BTCUSDT_historical.csv
ETHUSDT_historical.csv